body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  color: #212529;
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode {
  background-color: #121212;
  color: #f0f0f0;
}

img {
  max-height: 300px;
  object-fit: cover;
  width: 100%;
}

/* Calculatrice */

.calculator {
  padding: 15px;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.calculator-display {
  font-size: 1.5rem;
  text-align: right;
}

.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.calculator-buttons .btn {
  font-size: 1.2rem;
  height: 50px;
}

/* Liste Items */

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 100%;
}

.list-group-item.completed {
  text-decoration: line-through;
  background-color: #d4edda;
  color: #155724;
}

/* Responsive */

@media (max-width: 768px) {

  /* Rétrécissement de la calculatrice */

  #calculator {
    padding: 10px;
    font-size: 0.8rem;
  }

  .calculator-display {
    height: 40px;
    font-size: 1.2rem;
  }

  .calculator-buttons .btn {
    font-size: 0.9rem;
    height: 40px;
  }

  /* Ajout de tâche et bouton sur même ligne */

  .task-input-container {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
  }

  .task-input-container input {
    flex: 1;
  }

  /* Filtres de tâches sur une seule ligne */

  .filters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .filters .filter-button {
    flex: 1;
  }
}
